$font-path: './fonts/Maitree/';

@mixin webfonts-maitree {
    $maitree-regular-path: '#{$font-path}/Maitree-regular.ttf' !default;
    $maitree-medium-path: '#{$font-path}/Maitree-medium.ttf' !default;
    $maitree-bold-path: '#{$font-path}/Maitree-bold.ttf' !default;
    $maitree-semi-bold-path: '#{$font-path}/Maitree-semi-bold.ttf' !default;
    $maitree-extra-light-path: '#{$font-path}/Maitree-extra-light.ttf' !default;
    $maitree-light-path: '#{$font-path}/Maitree-light.ttf' !default;

    @font-face {
        font-family: 'Maitree Regular';
        src: url($maitree-regular-path) format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Maitree Medium';
        src: url($maitree-medium-path) format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Maitree Bold';
        src: url($maitree-bold-path) format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Maitree Semi Bold';
        src: url($maitree-semi-bold-path) format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Maitree Light';
        src: url($maitree-light-path) format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Maitree Extra Light';
        src: url($maitree-extra-light-path) format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}
