@import '../../../style/mixins';

.page-content {
    display: flex;
    flex-direction: column;
    background-color: white;

    @include at-iphone {
        max-width: $width-ipad;
        margin: 1rem auto;
    }
}
