@use '../../../style/mixins';
@use "../../../style/layout";

.page-content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-page);
    max-width: 64rem;
    margin: 0 auto;
    padding-bottom: 2rem;

    @include mixins.at-ipad {
        margin: layout.$padding-page auto;
    }
}
