@import '../../../style/mixins';
@import '../../../style/design';

.placeholder {
    min-height: $height-header;
}

.header {
    position: fixed;
    width: 100%;
    background-color: $color-primary;
    border-bottom: $border;

    @include at-ipad {
        margin: 0 auto;
    }
}

.items {
    @include reset-list;

    display: flex;
    justify-content: space-around;
}

.item {
    width: 100%;
    padding: 1rem;
    border-right: $border;
}

.active {
    background-color: $color-secondary;
}

.link {
    @include reset-link;

    display: flex;
    justify-content: flex-end;

    padding-right: 1rem;
}
