@import '../../../style/mixins';
@import '../../../style/design';

.placeholder {
    min-height: $height-header;
}

.header {
    position: fixed;
    width: 100%;
    background-color: $color-primary;

    @include at-ipad {
        margin: 0 auto;
    }
}

.items {
    @include reset-list;

    display: flex;
    justify-content: space-around;
}

.item {
    width: 50%;
    padding: 1rem;

    box-sizing: border-box;
    transition: $transition;

    &:hover {
        background-color: $color-hover-secondary;
        transition: $transition;
        width: 100%;
    }
}

.active {
    background-color: $color-secondary;
    transition: $transition;
    width: 100%;

    &:hover {
        background-color: $color-secondary; // do not fade hover on active page
    }
}

.link {
    @include reset-link;

    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}
