@use '../../../style/layout';
@use '../../../style/mixins';
@use "../../../style/design";
@use "../../../style/fonts";

.resume {
    padding: 1rem;

    @include mixins.at-ipad {
        padding: 0;
    }
}

.experience {
}

.section-title {
    font-family: fonts.$font-regular;
    margin-bottom: 0;
}

.section-date {
    font-family: fonts.$font-regular;
    @include mixins.reset-h5;
}

.columns {
}

.headline {
}

.headline-name {
    font: design.$font-header;
}

.headline-description {
    font-size: layout.$font-size-p-small;
}

.skills {
    font-family: fonts.$font-light;
    font-size: layout.$font-size-li;
}

.skill {
}

.download {
    @include mixins.reset-h3;

    display: table; //for underline width
    margin-bottom: 0.5rem;

    @include mixins.underline-title;

    a {
        @include mixins.reset-link;
    }
}
