@import '../../../style/layout';
@import '../../../style/mixins';

.resume {
    padding: 1rem;

    @include at-ipad {
        padding: 0;
    }
}

.experience {
}

.section-title {
    font-family: $font-regular;
    margin-bottom: 0;
}

.section-date {

    font-family: $font-regular;
    @include reset-h5;
}

.columns {
}

.headline {
}

.headline-name {

}

.headline-description {
    font-size: $font-size-p-small;
}

.skills {
    font-family: $font-light;
    font-size: $font-size-li;
}

.skill {
}
