@import '../../style/globals';

$nav-height: 3rem;
$primary-color: #b3b0ff;
$secondary-color: #b5d6fa;
$hamburger-menu-size: 2rem;

.header {
    min-height: $nav-height;
}

.container {
    position: fixed;
    background-color: $secondary-color;
    width: 100%;
    height: $nav-height;

    @include at-ipad {
        position: relative;
        padding: 1rem 1rem 1.5rem;
        margin: 0 0 1rem;
        background-color: $primary-color;
    }
}

.items {
    display: none;

    @include at-ipad {
        list-style-type: none; // hide the dots;
        display: flex;
        justify-content: space-around;
    }
}

.item {
    background-color: $secondary-color;
    box-shadow: 5px 10px #888888;
    a {
        padding: 0 1rem;
        text-decoration: none;
    }

    &:hover {
        opacity: 0.7;
    }
}
.hamburger-menu {
    position: absolute;
    cursor: pointer;
    top: calc(#{$nav-height - $hamburger-menu-size}/ 2);
    left: calc(#{$nav-height - $hamburger-menu-size}/ 2);
    width: $hamburger-menu-size;
    height: $hamburger-menu-size;
    transition: all 0.2s ease;

    @include center-flex;
    @include at-ipad {
        display: none;
    }
}

.hamburger-menu-line {
    position: relative;
    @include center-flex;
    @include line(black);

    &:before {
        position: absolute;
        content: '';
        top: -0.625rem;
        @include line(black);
    }

    &:after {
        position: absolute;
        content: '';
        top: 0.625rem;
        @include line(black);
    }
}

.toggle {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    top: calc(#{$nav-height - $hamburger-menu-size}/ 2);
    left: calc(#{$nav-height - $hamburger-menu-size}/ 2);
    width: $hamburger-menu-size;
    height: $hamburger-menu-size;

    &:checked + .hamburger-menu {
        transform: rotate(135deg);

        // create x
        & .hamburger-menu-line:before,
        & .hamburger-menu-line:after {
            top: 0;
            transform: rotate(90deg);
        }
    }
}
