$color-primary: #b5d6fa;
$color-secondary: #b3b0ff;
$color-page: white;
$color-border: #888;
$color-light-page: #cadfdb;
$color-dark-page: #a0a085;
//hovers
$color-hover-primary: rgba($color-primary, 0.5);
$color-hover-secondary: rgba($color-secondary, 0.5);
