$color-primary: #d5d5d5;
$color-secondary: #383838;
$color-page: white;
$color-border: #888;

//hovers
$color-hover-primary: rgba($color-primary, 0.5);
$color-hover-secondary: rgba($color-secondary, 0.5);
