@import '../style/colors';
@import '../style/layout';
@import '../style/fonts';

//fonts
$font-header: #{$font-size-header}/ #{$height-line} $font-bold;
$font-header-large: #{$font-size-header-large}/ #{$height-line-large} $font-bold;

//borders
$border: $width-border solid $color-border;

//box-shadows
$box-shadow: 5px 10px $color-border;

//transition
$transition: ease-out 200ms;
$transition-fast: ease-out 100ms;
$transition-slow: ease-in 500ms;
