@import '../style/colors';
@import '../style/layout';

//borders
$border: $width-border solid $color-border;

//box-shadows
$box-shadow: 5px 10px $color-border;

//transition
$transition: ease-out padding-right 200ms;
