@use '../style/colors';
@use '../style/layout';
@use '../style/fonts';

//fonts
$font-header: #{layout.$font-size-header}/ #{layout.$height-line} fonts.$font-bold;
$font-header-large: #{layout.$font-size-header-large}/ #{layout.$height-line-large} fonts.$font-bold;

//box-shadows
$box-shadow: 5px 10px colors.$color-border;

//transition
$transition: ease-out 200ms;
$transition-fast: ease-out 100ms;
$transition-slow: ease-in 500ms;
