@import 'fonts/webfonts';
@import '../style/mixins'; // color and layout are included in mixins

input {
    margin: 0;
}

body {
    margin: 0;
    font-family: $font-light;
    line-height: $height-line;

    @include at-ipad {
        line-height: $height-line-large;
    }
}

::selection {
    color: $color-secondary;
    background: $color-hover-primary;
}
