@use 'fonts/webfonts';
@use '../style/mixins'; // color and layout are included in mixins
@use "colors";
@use "fonts";
@use "layout";

input {
    margin: 0;
}

body {
    margin: 0;
    font-family: fonts.$font-light;
    line-height: layout.$height-line;
    color: var(--color-text);
    background-color: var(--color-page);

    @include mixins.at-ipad {
        line-height: layout.$height-line-large;
    }
}

::selection {
    color: colors.$color-secondary;
    background: colors.$color-hover-primary;
}
