@import '../style/webfonts';
@import '../style/mixins';

// Typography

// Font mapping
$font-regular: 'Maitree Regular', sans-serif;
$font-medium: 'Maitree Medium', sans-serif;
$font-bold: 'Maitree Bold', sans-serif;
$font-semi-bold: 'Maitree Semi Bold', sans-serif;
$font-light: 'Maitree Light', sans-serif;
$font-extra-light: 'Maitree Extra Light', sans-serif;

input {
    margin: 0;
}

body {
    margin: 0;
    font-family: $font-regular;
}

header {
    font-family: $font-medium;
}
