//sizes
$size-footer-icon: 2.5rem;

//font-sizes
$font-size-header: 1rem;
$font-size-header-large: 1.25rem;
$font-size-intro: 1.75rem;
$font-size-intro-large: 2rem;
$font-size-p-small: 0.825rem;
$font-size-p: 1rem;
$font-size-p: 1rem;
$font-size-p-large: 1.125rem;
$font-size-li: 1rem;

//padding
$padding-button: 0.5rem;
$padding-nav: 1rem;
$padding-page: 1rem;

//widths
$width-iphone: 425px;
$width-ipad: 768px;
$width-desktop: 1024px;
$width-underline-title: 5px;
$width-underline-link: 3px;

//heights
$height-line: 1.5rem;
$height-line-large: 1.75rem;
$height-header: calc(#{$height-line} + #{$padding-nav}* 2);
$height-header-large: calc(#{$height-line-large} + #{$padding-nav}* 2);
$height-footer: calc(#{$padding-button}* 2 + #{$size-footer-icon});
$height-page-min: calc(100vh - (#{$height-header} + #{$height-footer}));
$height-page-min-large: calc(100vh - (#{$height-header-large} + #{$height-footer}));

//spacing
$space-below: 2rem;
