//sizes
$size-footer-icon: 2.5rem;

//font-size
$font-size-header: 1rem;
$font-size-header-large: 1.25rem;
$font-size-p-small: 0.825rem;
$font-size-p: 1rem;
$font-size-p: 1rem;
$font-size-p-large: 1.125rem;
$font-size-li: 1rem;

//padding
$padding-button: 0.5rem;

//widths
$width-iphone: 425px;
$width-ipad: 768px;
$width-desktop: 1024px;
$width-border: 2px;

//heights
$height-header: 3.5rem;
$height-footer: calc(#{$padding-button}* 2 + #{$size-footer-icon});
$min-height-page: calc(100vh - (#{$height-header} + #{$height-footer})); // if

//spacing
$space-below: 2rem;
