@import '../style/colors';
@import '../style/layout';
@import '../style/design';

// resets
@mixin reset-button {
    cursor: pointer;
}

@mixin reset-svg {
    svg {
        width: inherit;
        height: inherit;
    }
}

@mixin reset-h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@mixin reset-list {
    list-style-type: none; // hide the dots
    padding-inline-start: 0; //remove indent padding
    margin-block-start: 0; // remove above and below spacing
    margin-block-end: 0;
}

@mixin reset-link {
    &,
    &:hover,
    &:visited,
    &:focus,
    &:active {
        color: inherit;
        text-decoration: none;
    }
}

// media queries
@mixin at($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin at-iphone {
    @include at($width-iphone) {
        @content;
    }
}

@mixin at-ipad {
    @include at($width-ipad) {
        @content;
    }
}

@mixin at-desktop {
    @include at($width-desktop) {
    }
}

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin line() {
    width: 100%;
    height: 2px;
    background-color: $color-border;
}
