// variables
$width-iphone: 425px;
$width-ipad: 768px;
$width-desktop: 1024px;

// component spacing
$space-below: 2rem;

// media queries
@mixin at($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin at-iphone {
    @include at($width-iphone) {
        @content;
    }
}

@mixin at-ipad {
    @include at($width-ipad) {
        @content;
    }
}

@mixin at-desktop {
    @include at($width-desktop) {
    }
}

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin line($line-color) {
    width: 100%;
    height: 2px;
    background-color: $line-color;
}

//layout

@mixin page-box {
    @include at-ipad {
        box-shadow: 9px 9px 0 12px #888888;
    }
}

@mixin page-layout {
    margin: 0 auto calc(1.3125rem + #{$space-below}); //accommodate box-shadow
    padding: 2rem;
    @include page-box;

    @include at-iphone {
        max-width: $width-ipad;
    }
}

// buttons

@mixin page-buttons {
}
