@import '../../../../style/mixins';

.social-link {
    @include reset-svg;

    fill: $color-primary;
    cursor: pointer;
    padding: 0.5rem;

    width: $size-footer-icon;
    height: $size-footer-icon;

    &:hover {
        fill: $color-secondary;
        transition: $transition;
    }
}
