@use '../../../../style/mixins';
@use "../../../../style/design";

.social-link {
    @include mixins.reset-svg;

    fill: var(--color-text);
    cursor: pointer;
    padding: 0.25rem;

    width: 1.25rem;
    height: 1.25rem;

    &:hover {
        fill: var(--color-text);
        transition: design.$transition;
    }
}
