@import '../../../../style/mixins';

.social-link {
    fill: white;
    width: $size-footer-icon;
    height: $size-footer-icon;

    svg {
        width: $size-footer-icon;
        height: $size-footer-icon;
    }

    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-right: $border;

    &:hover {
        padding-right: 2rem;
    }
}
