@use '../style/mixins';
@use "../style/colors";
@use "../style/layout";


.page {
    flex: 1;
    display: flex;
    align-items: flex-start;
    background-color: var(--color-page);
    min-height: calc(100vh - layout.$height-header - layout.$height-footer);
    padding-top: 0;

    @include mixins.at-desktop {
        align-items: center;
        padding-top: 0;
        min-height: layout.$height-page-min-large;
    }
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
