@import '../../../style/mixins';

.home {
    //TODO: add more styles
}

.link {
    @include reset-link;
}

.h2 {
    @include reset-h2;
}

.p {
    @include reset-p;
    margin-bottom: 2rem;
}

.intro {
    padding: 2rem;
    font-family: $font-light;
    font-size: $font-size-p;

    @include at-ipad {
        font-size: $font-size-p-large;
    }
}

.intro-text {
    @include at-ipad {
        margin-bottom: 7rem;
    }
}

.facts {
    margin-bottom: 2rem;
}

.fact {
    font-size: $font-size-li;
    //code {
    //    background-color: $color-hover-primary;
    //}
}
