@import '../../../style/mixins';

.link {
    @include reset-link;
}

.h2 {
    @include reset-h2;
}

.p {
    @include reset-p;
    margin-bottom: 2rem;
}

.intro-wrapper {
    padding: 2rem;
    position: relative;
    font-family: $font-light;
    font-size: $font-size-p;

    @include at-ipad {
        font-size: $font-size-p-large;
    }
}

.intro {
    @include reset-p;

    font-size: $font-size-intro;
    line-height: $height-line-large;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 10%;
    max-width: $width-ipad;
    margin: 0 auto;

    @include at-iphone {
        top: 30%;
        font-size: $font-size-intro;
    }
}
$intro-top: 40%;

// must match same number of intro messages
.intro-1 {
    animation: animate-intro 4s linear normal both;
    top: $intro-top;
}

.intro-2 {
    animation: animate-intro 4s linear normal both;
    animation-delay: 4s;
    top: $intro-top;
}

.intro-3 {
    animation: animate-intro 4s linear normal both;
    animation-delay: 8s;
    top: $intro-top;
}

.intro-facts {
    @include reset-list;
    max-width: $width-ipad;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
    opacity: 0;
    animation: animate-intro-facts 4s linear normal both;
    animation-delay: 12s;
}

.facts {
    @include reset-list;
    padding: 1.5rem 1rem 1rem;
    max-width: $width-ipad;
    margin: 0 auto;

    @include at-desktop {
        padding-top: 1rem;
    }
}

.facts-title {
    font-family: $font-regular;
    font-size: $font-size-header-large;
    margin-bottom: 0.7rem;
}

.fact {
    @include reset-list;
    font-size: $font-size-li;
    margin-bottom: 1rem;

    &:before {
        @include chevron;
    }

    &:hover:before {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
        transition: $transition;
    }

    @include at-desktop {
        margin-bottom: 0.5rem;
    }
}

.outro {
    @include reset-list;
    position: absolute;
    font-size: $font-size-icon;
    bottom: 1rem;
    right: 15%;

    @include at-desktop {
        bottom: 0;
    }
}

// must match same number of outro messages
.outro-1 {
    animation: animate-intro 4s linear normal both;
    animation-delay: 24s;
}

// .outro-2 {
//     animation: animate-intro 4s linear normal both;
//     animation-delay: 20s;
// }

// animations
@keyframes animate-intro {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate-intro-facts {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
