@import './src/style/mixins.scss';

.social-link {
    fill: white;
    width: 2rem;
    height: 2rem;

    svg {
        width: 2rem;
        height: 2rem;
    }

    padding: 0.5rem;
    cursor: pointer;

    @include buttons-hover;
}
