@import '../../../style/mixins';

.home {
    //add style
}

.work {
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    width: calc(100% - 2px); // grid borders

    @include at-ipad {
        align-items: center;
        grid-row: 2;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'sfix sfix sfix-logo' 'ft-logo ft ft';
    }
}

.workplace {
    @include reset-h2;

    display: table; //for underline width
    margin-bottom: 0.5rem;

    @include underline-title;

    a {
        @include reset-link;
    }
}

.p {
    @include reset-p;
}

.link {
    @include reset-link;
    @include underline-link;
}

.sfix,
.ft {
    @include reset-link;
    padding: 1rem;
    max-width: 48rem;
    pointer-events: auto;
}

.sfix {
    @include at-ipad {
        grid-area: sfix;
    }
}
.sfix-logo {
    display: none;
    @include at-ipad {
        display: block;
        width: 100%;
        grid-area: sfix-logo;
    }
}

.ft {
    @include at-ipad {
        grid-area: ft;
    }
}

.ft-logo {
    display: none;
    @include at-ipad {
        display: block;
        width: 100%;
        grid-area: ft-logo;
    }
}

.link .code {
    background-color: $color-hover-primary;
}
