@import '../../../style/mixins';

.home {
    //TODO: add more styles
}

.work {
    width: 100%;
}

.link {
    margin: 0 auto;
    padding: 1rem;
    pointer-events: none;

    &:hover {
        transition: $transition-slow;
        background-color: $color-hover-primary;
    }
}

.h2 {
    @include reset-h2;

    display: table;
    margin-bottom: 0.5rem;
    border-bottom: 5px solid $color-secondary;
}

.p {
    @include reset-p;
}

.sfix,
.ft {
    margin: 0 auto;
    @include reset-link;
    padding: 1rem;
    max-width: 48rem;
    pointer-events: auto;
}

.link .code {
    background-color: $color-hover-primary;
}
