@import '../../../style/globals';

.placeholder {
    min-height: $height-footer;
}
.footer {
    position: fixed;
    background-color: $color-primary;
    width: 100%;
    bottom: 0;
    border-top: $border;
}
.icons {
    display: flex;
    justify-content: space-around;
}
