@import '../../../style/globals';

.placeholder {
    min-height: $height-footer;
}
.footer {
    position: fixed;
    background: linear-gradient(to bottom, #f0f0f0, white);
    width: 100%;
    bottom: 0;
    padding: $padding-nav 0;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 1000; // Ensure footer stays on top of content
    
    &.visible {
        transform: translateY(0);
    }
    
    @media (min-height: 800px) {
        transform: translateY(0);
    }
}

.icons {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;

    @include at-desktop {
        justify-content: space-between;
        max-width: $width-iphone;
    }
}
